### Terraform ###

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride


### Others ###
account.json
id_rsa
id_rsa.pub
gcloud_id_rsa
gcloud_id_rsa.pub
